<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Noticia</title>
    <link rel="stylesheet" type="text/css" href="/css/crearNoticia.css">
    <script src="https://cdn.tiny.cloud/1/470vl6oydu4y113xe2muphz55fln53vldzpewunxn0v858qz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#editorHtml',
            plugins: 'print preview fullpage paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
            imagetools_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            toolbar_sticky: true,
            autosave_ask_before_unload: true,
            autosave_interval: "30s",
            autosave_prefix: "{path}{query}-{id}-",
            autosave_restore_when_empty: false,
            autosave_retention: "2m",
            image_advtab: true,
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tiny.cloud/css/codepen.min.css'
            ],
            link_list: [
                { title: 'My page 1', value: 'http://www.tinymce.com' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_list: [
                { title: 'My page 1', value: 'http://www.tinymce.com' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            importcss_append: true,
            height: 400,
            file_picker_callback: function (callback, value, meta) {
                /* Provide file and text for the link dialog */
                if (meta.filetype === 'file') {
                    callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
                }

                /* Provide image and alt text for the image dialog */
                if (meta.filetype === 'image') {
                    callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
                }

                /* Provide alternative source and posted for the media dialog */
                if (meta.filetype === 'media') {
                    callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
                }
            },
            templates: [
                { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
            ],
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 600,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: "mceNonEditable",
            toolbar_drawer: 'sliding',
            contextmenu: "link image imagetools table",
        });

        function verHTML(){
            var content = tinymce.get("editorHtml").getContent();
            alert(content);
        }
    </script>
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
<h2 class="center">Actualizar Noticia</h2>
<form  th:object="${noticia}"  enctype="multipart/form-data">
    <div class="form-group">
        <label for="titulo">Título Noticia:</label>
        <input type="text" id="titulo" name="titulo" th:field="${noticia.tituloNoticia}" required>
    </div>
    <div class="form-group">
        <label for="resumen">Resumen Noticia:</label>
        <textarea id="resumen" name="resumen" rows="4" th:field="${noticia.resumenNoticia}" required></textarea>
    </div>
    <div class="form-group">
        <label for="imagen">Subir Imagen:</label>
        <input type="file" id="imagen" name="imagen" accept="image/*" required>
    </div>
    <div class="form-group">
        <label for="publicada">Publicada:</label>
        <select id="publicada" name="publicada" required>
            <option th:value="Y" th:selected="${noticia.publicada == 'Y' ? 'selected' : ''}">Y</option>
            <option th:value="N" th:selected="${noticia.publicada == 'N' ? 'selected' : ''}">N</option>
        </select>
    </div>

    <div class="form-group">
        <label for="fecha">Fecha de Publicación:</label>
        <input type="date" id="fecha" name="fecha" th:field="${noticia.fechaPublicacion}" required>
    </div>

    <div class="form-group">
        <label for="editorHtml">Contenido:</label>
        <textarea id="editorHtml" name="contenidoHtml"></textarea>
    </div>
    <div class="form-group">
        <label>Seleccione la empresa: </label>
        <select>
            <option th:each="emp : ${empresa}" th:value="${emp.id}" th:text="${emp.denominacion}" th:selected="${noticia.empresa != null && noticia.empresa.id == emp.id}"></option>
        </select>
    </div>
    <button type="submit">Actualizar Noticia</button>
</form>
<form th:action="@{/eliminar-noticia/{id}(id=${noticia.id})}" method="get">
    <button type="submit">Eliminar</button>
</form>
<form th:action="@{/}">
    <button type="submit">Volver</button>
</form>
</body>
</html>