<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Crear Empresa</title>
    <link rel="stylesheet" href="/css/crearEmpresa.css">
</head>
<body>
<h2>Crear Empresa</h2>

<form th:action="@{/crear-empresa}" th:object="${empresa}" method="post">
    <div>
        <label for="denominacion">Denominación:</label>
        <input type="text" id="denominacion" name="denominacion" th:field="*{denominacion}" required>
    </div>
    <div>
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" th:field="*{telefono}" required>
    </div>
    <div>
        <label for="horario">Horario de Atención:</label>
        <input type="text" id="horario" name="horario" th:field="*{horarioAtencion}" required>
    </div>
    <div>
        <label for="quienes_somos">Quiénes Somos:</label>
        <textarea id="quienes_somos" name="quienes_somos" rows="4" th:field="*{quienesSomos}" required></textarea>
    </div>
    <div>
        <label for="latitud">Latitud:</label>
        <input type="text" id="latitud" name="latitud" th:field="*{latitud}" required>
    </div>
    <div>
        <label for="longitud">Longitud:</label>
        <input type="text" id="longitud" name="longitud" th:field="*{longitud}" required>
    </div>
    <div>
        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" th:field="*{domicilio}" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required>
    </div>
    <div>
        <button type="submit">Crear Empresa</button>
    </div>
</form>
<div id="button-container">
    <form th:action="@{/}">
        <button type="submit">Volver</button>
    </form>
</div>
</body>
</html>